<div class="flex h-screen layout-bg overflow">
  <aside class="w-64 p-4 shrink-0 hidden md:block overflow-auto">
    <app-menu class="text-white" />
  </aside>
  <main class="grow flex flex-col">
    <header class="p-4 shrink-0 flex items-center justify-between">
      <p-button
        icon="pi pi-bars"
        severity="secondary"
        (onClick)="drawerVisible = true"
        class="md:hidden"
      />
      <div class="grow px-4 md:pl-0 text-xl font-bold text-white">
        {{ appStore.title() }}
      </div>
      <p-avatar
        [image]="user()?.avatar"
        size="large"
        shape="circle"
        (click)="userMenu.toggle($event)"
      />
      <p-menu #userMenu [model]="userMenuItems" popup appendTo="body" />
    </header>
    <article class="p-4 grow bg-white md:rounded-tl-lg overflow-y-auto">
      <router-outlet />
    </article>
  </main>
</div>

<p-drawer [(visible)]="drawerVisible" [closable]="false">
  <ng-template #headless>
    <div class="p-4 layout-bg h-full">
      <app-menu />
    </div>
  </ng-template>
</p-drawer>
